body{
  background-color: #F6FCDF;
  }
  nav{
      background-color: #1A1A19;
      height: 30px;
      display: flex;
      align-items: center;
  }
  
  a{
      text-decoration: none;
      margin: 20px;
      color: #31511E;
      
  }
  .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .search{
      margin-left: auto;
  }
  
  .card{
      display: inline-block;
      text-align: center;
      margin: 20px;
  }
  .card>p{
      margin-top: 1px;
  }
  .cardImg{
    width: 200px;
  }
  .info{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 20px;
  }
  .info>image{
      height: 100%;
      width: 100%;
  }
  
  .image img {
      width: 50%;
      height: 80%;
      margin: 20px;
      margin-left: 30%;
  }
  
